# dependencies
/node_modules

# build
/dist

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local

.DS_Store

# only used for testing
/src/app.ts