# dependencies
/node_modules

# build
/lib

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
log-*.json

# local env files
.env
.env*.local

.DS_Store

# only used for development
requests-*.json
/src/dev.ts

# session file
.session

